# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Uploads gerados pelo app
import_data/uploads/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# json Config
config.json

# Variáveis de ambiente
.env

# PyInstaller
dist/
build/
*.spec